.testimonial {
  background-image: url("/images/testimonialBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 83.6rem;
  position: relative;
  color: var(--charterag-section-bg-color-blue-dark);
  overflow: hidden;

  &__cards {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(0, -50%);

    display: flex;
    width: max-content;
    flex-direction: column;
    overflow: hidden;

    @include respond(tab-lg_lg) {
      top: 45%;
      left: 20%;
    }

    &__header {
      display: flex;
    }

    .header-title {
      font-size: 3.6rem;
      font-weight: 500;
      padding-bottom: 5.5rem;
    }

    &__container {
      display: flex;
      gap: 2.7rem;
      padding-bottom: 3.3rem;
    }

    &__card {
      background: var(--charterag-card-bg-color-white);
      max-width: 50rem;
      padding: 2.2rem 7.6rem 2.2rem 3rem;
      border-radius: 1rem;
      gap: 0.6rem;
      display: flex;
      flex-direction: column;

      @include respond(sm-phone) {
        max-width: 30rem;
      }

      h3 {
        font-size: 2.2rem;
      }

      p {
        padding-bottom: 1.6rem;
        padding-top: 0.8rem;
      }

      .star-rating {
        display: flex;
        gap: 0.9rem;
      }
    }

    &__dots {
      display: flex;
      margin-top: 16px;
      position: absolute;
      left: 15%;
      transform: translate(-50%, -50%);
      width: fit-content;
      bottom: 0;

      .dot {
        width: 22px;
        height: 9px;
        background-color: #ccc;
        margin: 0 6px;
        transition: background-color 0.3s ease;
        border-radius: 1rem;
      }
      .dot.active {
        background-color: #fff;
        width: 33px;
      }
    }
  }
}
