.accordion {
  @include flexCenter;
  flex-direction: column;
  background: var(--charterag-section-background-blue-light);
  padding-top: 18.4rem;
  padding-bottom: 20.9rem;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.9rem;
    border-radius: 1rem;
    padding-top: 13.2rem;
    width: 100%;
    max-width: 100rem;

    button {
      display: flex;
      width: 100%;
      border: none;
      background: var(--charterag-accordion-bg);
      font-size: 1.8rem;
      font-weight: 600;
      align-items: center;
      height: 100%;
      min-height: 4.5rem;
      padding-inline: 3.2rem;
      border-radius: 1rem;
      justify-content: space-between;
      margin-bottom: 3.9rem;

      cursor: pointer;

      &.show {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .panel {
    display: none;

    &--show {
      display: flex;
      padding: 0 3.2rem 7.6rem 3.2rem;
      background: var(--charterag-accordion-bg);
      border-radius: 1rem;
      margin-bottom: 3.9rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      @include respond(tab-lg_lg) {
        flex-wrap: wrap;
      }

      img {
        width: 100%;
        max-width: 40.6rem;
        height: 27.6rem;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    &__progress-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 27.6rem;
      flex-wrap: wrap;
      padding-left: 6.9rem;

      @include respond(sm-desktop) {
        padding-left: 1.9rem;
      }

      @include respond(tab-lg_lg) {
        padding-left: 0;
        padding-top: 5rem;
        max-height: 40rem;
      }

      @include respond(sm-phone) {
        max-height: 60rem;
      }

      &__progress {
        display: flex;
        flex-direction: column;
        max-width: 18rem;
        width: 100%;
        margin-bottom: 2.7rem;
      }
    }
  }
}
