.destinations {
  @include flexCenter;
  flex-direction: column;
  background-color: var(--charterag-section-background-blue-light);
  padding-top: 14.9rem;
  padding-bottom: 21.5rem;

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40.4rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        359deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 1;
      pointer-events: none;
      border-radius: 12px;
    }
  }

  &__images {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 12.5rem;

    .overlay {
      position: absolute;
      bottom: 10%;
      font-size: 2rem;
      color: var(--charterag-card-text-color-white);
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 5rem;
      z-index: 10;
      flex-wrap: wrap;

      .form-text {
        font-size: 2rem;
      }

      .route-text {
        font-size: 2.8rem;
        font-weight: 600;
        display: flex;
        gap: 1rem;
        justify-content: center;
      }

      .progress-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 289px;

        .progress-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          .label {
            flex: 1;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
  }
}
