.vacations {
  @include flexCenter;
  flex-direction: column;
  padding-bottom: 18rem;
  padding-top: 17.3rem;
  background: var(--charterag-section-bg-color-blue-light);

  .gallery-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 10.9rem;
    padding-bottom: 9.2rem;

    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;

      &__item {
        @include flexCenter;
        border-radius: 8px;
        text-align: center;
        font-size: 1.2em;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 17.8rem;
        height: 17.8rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
        }
      }
    }
  }

  &__container {
    @include flexCenter;
    flex-wrap: wrap;
    gap: 7rem;
  }

  &__card {
    color: var(--charterag-card-bg-blue-dark);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 32.2rem;

    .card-container {
      display: flex;
      align-items: center;
      gap: 1rem;

      h3 {
        font-size: 2.4rem;
      }
    }
  }
}
